.container {
  width: 800px;
  height: 360px;
  h1 {
    text-align: center;
    font-size: 48px;
  }
  p {
    font-size: 24px;
    text-align: center;
    margin: 40px;
  }
  nav {
    text-align: center;
    a {
      color: #ffffff;
      background-color: #399097;
      padding: 20px;
      font-size: 18px;
      margin: 0;
      border: 2px solid #366d7d;
      &:hover {
        background-color: #599dba;
        font-size: 20px;
        transition: 1s;
      }
      &:first-child{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: 2px solid #29666b;
      }
      &:last-child{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-left: 2px solid #29666b;
      }
    }
  }
}